/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
section {
  margin-bottom: 40px;
}
h2 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
.container-flex {
  display: flex;
  background-color: purple;
  color: white;
  gap: 10px;
}
.item-flex {
  background-color: orange;
  padding: 20px;
  text-align: center;
}
.direcao-linha {
  flex-direction: row;
}
.direcao-coluna {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.justificar-inicio {
  justify-content: start;
}
.justificar-fim {
  justify-content: end;
}
.justificar-centro {
  justify-content: center;
}
.justificar-space-between {
  justify-content: space-between;
}
.justificar-space-araund {
  justify-content: space-around;
}
.justificar-space-evenly {
  justify-content: space-evenly;
}
.alinhar-items .container-flex {
  height: 300px;
}
.alinhar-stretch {
  align-items: stretch
}
.alinhar-inicio {
  align-items: flex-start;
}
.alinhar-fim {
  align-items: end;
}
.alinhar-centro {
  align-items: center;
}
.alinhar-baseline {
  align-items: baseline;
}
