/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
section {
  margin-bottom: 40px;
}
h2 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
.container-flex {
  display: flex;
  background-color: purple;
  color: white;
  gap: 10px;
}
.item-flex {
  background-color: orange;
  padding: 20px;
  text-align: center;
}
.direcao-linha {
  flex-direction: row;
}
.direcao-coluna {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.justificar-inicio {
  justify-content: start;
}
.justificar-fim {
  justify-content: end;
}
.justificar-centro {
  justify-content: center;
}
.justificar-space-between {
  justify-content: space-between;
}
.justificar-space-araund {
  justify-content: space-around;
}
.justificar-space-evenly {
  justify-content: space-evenly;
}
.alinhar-items .container-flex {
  height: 300px;
}
.alinhar-stretch {
  align-items: stretch
}
.alinhar-inicio {
  align-items: flex-start;
}
.alinhar-fim {
  align-items: end;
}
.alinhar-centro {
  align-items: center;
}
.alinhar-baseline {
  align-items: baseline;
}
.alinhar-conteudo {
  align-content: start;
  height: 600px;
}
.alinhar-conteudo .caixa {
  flex: 0 0 30%;
}
.caixa {
  padding: 20px;
  text-align: center;
  color: white;
}
.ordem1 {
  order: 1;
}
.ordem2 {
  order: 2;
}
.ordem3 {
  order: 3;
}
.exemplo-grow .item-flex {
  flex-basis: 100px;
}
.crescer1 {
  flex-grow: 1;
}
.crescer2 {
  flex-grow: 2;
}
.alinhar-items-individuais .container-flex {
  height: 300px;
}
.self-inicio {
  align-self: start;
}
.self-centro {
  align-self: center;
}
.self-fim {
  align-self: end;
}
.menu-nav {
  background-color: black;
  display:flex;
  gap: 20px;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: purple;
  border-radius: 5px;

}
nav a:hover {
  background-color: orange;
}